//body {
//	background: #e9e8e4 url('images/bg-grid.png');
//}
//#box1 {
//	float: right;
//	left: 507px;
//	top: 271px;
//	margin-left: 100px;
//	margin-top: "Open Sans", sans-serif;
//	position: absolute;
//	z-index: 12;
//	font-family: "Open Sans", sans-serif;
//}
//#box2 {
//	float: right;
//	left: 839px;
//	top: 268px;
//	margin-left: 100px;
//	margin-top: "Open Sans", sans-serif;
//	position: absolute;
//	z-index: 12;
//	font-family: "Open Sans", sans-serif;
//}
#box3 {
	left: -56px;
	top: 266px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box4 {
	left: 288px;
	top: 266px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box5 {
	left: -56px;
	top: 496px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box6 {
	left: 288px;
	top: 496px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box7 {
	left: -56px;
	top: 726px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box8 {
	left: 288px;
	top: 726px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box9 {
	left: -56px;
	top: 956px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box10 {
	left: 288px;
	top: 956px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box11 {
	left: -56px;
	top: 1186px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box12 {
	left: 288px;
	top: 1186px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
#box13 {
	left: -56px;
	top: 1416px;
	margin-left: 100px;
	margin-top: "Open Sans", sans-serif;
	position: absolute;
	z-index: 12;
	font-family: "Open Sans", sans-serif;
}
.clearfix {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.details {
	margin: 15px 20px;
}
//h4 {
//	font: 300 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
//	line-height: 160%;
//	letter-spacing: 0.15em;
//	color: #fff;
//	text-shadow: 1px 1px 0 rgb(0,0,0);
//}
//p {
//	font: 300 12px 'Lucida Grande', Tahoma, Verdana, sans-serif;
//	color: #aaa;
//	text-shadow: 1px 1px 0 rgb(0,0,0);
//}
//a {
//	text-decoration: none;
//}
